.resume{
    background:linear-gradient(rgba(4,11,75,0.719),rgba(4,26,100,0.73)), url(young-successful-woman-formal-suit-city-1512705002.jpg )repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
}
.resume h1{
    font-size: 3.8rem;

}
.btn3{
    height: 70px;
    width: 70%;
    border: 1px solid rgb(130,130,231);
    background: transparent;
    border-radius: 5px;
    color:rgb(130,130,231);
    transition: all 0.4s;
}
.btn3:hover{
    background: rgb(102,102,214);
    color: white;
    border: none;
    outline: none;
    transition:all 0.4s ;
}
